---
import { Icon } from 'astro-icon/components';
import DisplaySettings from "./widget/DisplaySettings.svelte";
import {LinkPreset, NavBarLink} from "../types/config";
import {navBarConfig, siteConfig} from "../config";
import NavMenuPanel from "./widget/NavMenuPanel.astro";
import Search from "./Search.svelte";
import {LinkPresets} from "../constants/link-presets";
import LightDarkSwitch from "./LightDarkSwitch.svelte";
import {url} from "../utils/url-utils";
const className = Astro.props.class;

let links: NavBarLink[] = navBarConfig.links.map((item: NavBarLink | LinkPreset): NavBarLink => {
    if (typeof item === "number") {
        return LinkPresets[item]
    }
    return item;
});

---
<div class:list={[
    className,
    "card-base sticky top-0 overflow-visible max-w-[var(--page-width)] h-[4.5rem] rounded-t-none mx-auto flex items-center justify-between px-4"]}>
    <a href={url('/')} class="btn-plain scale-animation rounded-lg h-[3.25rem] px-5 font-bold active:scale-95">
    <div class="flex flex-row text-[var(--primary)] items-center text-md">
        <!-- 嵌入自定义 SVG 图标 -->
        <svg class="mb-1 mr-2" width="1.75rem" height="1.75rem" viewBox="0 0 6745.69 6565.69" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <style>.uuid-de0fc216-4298-4ba1-89e8-e9425b12e4e0{fill:var(--card-bg);fill-rule:evenodd;stroke-width:0px;filter: invert(100%);transition: fill 0.3s ease, transform 0.3s ease;}</style>
          </defs>
            <!-- SVG 内容 -->
            <path class="uuid-de0fc216-4298-4ba1-89e8-e9425b12e4e0"
    d="M3850.83,2263.4l-46.47-90.36,2894.86-1488.78,46.47,90.35-2894.86,1488.78ZM3620.91,1232.11l1952.28-1004.03,46.47,90.35-1952.28,1004.03-46.47-90.35ZM2582.88,1004.03L4535.16,0l46.47,90.35-1952.28,1004.03-46.47-90.36ZM2409.8,1298.55l-41.9,185.93-78.03-173.89-185.93-41.9,173.89-78.03,41.91-185.93,78.03,173.89,185.93,41.9-173.89,78.04ZM2092.68,1817.73l-52.04,230.89c-79.14-140.94-155.07-276.17-226.2-402.84l43.84-19.67,74.42-330.21,138.59,308.82,330.21,74.42-308.82,138.59ZM1879.67,1839.12l138.59,308.82,22.38-99.31c125.09,222.77,258.18,459.8,392.95,699.83l-32.76,145.37-542.6,243.5,580.18,130.76,243.5,542.6,99.71-442.41c133.33,237.46,262.87,468.17,382.25,680.76l-263.66,118.32,330.21,74.42,138.59,308.82,21.91-97.21c239.87,427.19,400.53,713.32,400.53,713.32l-100.23,56.28-451.23-803.61s-45.31-87.92-113.92-164.28c-105.49-117.4-343.59,180.76-403.52,308.38-150.95,321.46,17.82,574.46,17.82,574.46,0,0-338.13-285.14-510.71-241.32-202.46,51.4-546.24,409.81-546.24,409.81,0,0,129.72-571.89-35.19-792.67-65.83-88.13-705.33,10.97-705.33,10.97,0,0,96.5-367.9-80.72-597.37S0,3612.11,0,3612.11c0,0,565.36-154.87,743.33-303.19,177.97-148.31,103.54-629.12,103.54-629.12,0,0,238.37,89.5,501.28,57.99,262.91-31.51,272.4-27.96,304.14-74.81,31.75-46.85-132.89-291.77-262.76-400.82-138.11-115.97-526.33-276.71-526.33-276.71,0,0,342.25-127.98,379.54-216.65,37.29-88.67,229.42-541.54,49.93-1052.27,20.8,37.05,231.16,411.68,521.77,929.24l-264.98,118.92,330.21,74.42ZM2531.59,2313.65l243.5,542.6,580.18,130.76-542.6,243.5-31.05,137.77c-114.56-204.02-231.92-413.03-348.03-619.82l98-434.81ZM3209.03,4028.77l74.42-330.21,138.59,308.82,330.21,74.42-308.82,138.59-52.51,233c-69.67-124.07-146.01-260.04-227.04-404.35l45.16-20.27ZM3966.94,2450.62l-308.82,138.59-74.42,330.21-138.59-308.82-330.21-74.42,308.82-138.59,74.42-330.21,138.59,308.82,330.21,74.42ZM3013.1,1982.1l-74.42,330.21-138.59-308.82-330.21-74.42,308.82-138.59,74.42-330.21,138.59,308.82,330.21,74.42-308.82,138.59ZM3329.79,1267.7l78.04,173.89,185.93,41.9-173.89,78.03-41.9,185.93-78.03-173.89-185.93-41.9,173.89-78.03,41.9-185.93ZM3651.78,3579.01l-330.21-74.42,308.82-138.59,74.42-330.21,138.59,308.82,330.21,74.42-308.82,138.59-74.42,330.21-138.59-308.82ZM4285.27,3199.92l-78.04-173.89-185.93-41.91,173.89-78.03,41.9-185.93,78.03,173.89,185.93,41.91-173.89,78.03-41.9,185.93ZM4292.05,3763l78.03,173.89,185.93,41.9-173.89,78.04-41.9,185.93-78.03-173.89-185.93-41.9,173.89-78.03,41.9-185.93ZM4577.31,2708.92l1952.28-1004.03,46.47,90.36-1952.28,1004.03-46.47-90.35ZM6462.66,2758.28l46.47,90.36-1952.28,1004.03-46.47-90.36,1952.28-1004.03Z" />
  <path class="uuid-de0fc216-4298-4ba1-89e8-e9425b12e4e0"
    d="M5669.47,6230.75v.59c-7.05,11.17-18.8,18.22-31.73,18.22s-24.68-6.46-31.14-17.63l-.59-1.17c-2.94-5.29-4.7-11.75-4.7-17.63,0-6.46,1.76-12.34,4.7-17.63l.59-1.17c6.46-11.17,18.22-17.63,31.14-17.63s24.68,6.46,31.73,17.63v.59c2.94,5.88,4.7,11.75,4.7,18.22,0,5.88-1.76,12.34-4.7,17.63ZM5609.53,6298.91c3.53,5.29,4.7,11.17,4.7,17.63s-1.17,12.34-4.11,17.63h-.59l-7.64,13.52-7.05,12.34v.59h-.59l-21.74,38.78-5.88,9.99-1.76,2.94-.59.59-29.38,51.12v.59l-29.38,51.12h-.59v.59l-15.28,25.85c-6.46,11.17-18.22,17.63-31.14,17.63s-24.68-6.46-31.14-17.63l-.59-1.17c-2.94-5.29-4.7-11.17-4.7-17.63,0-5.88,1.76-12.34,4.7-17.63l.59-1.17,7.05-12.34,5.88-9.99,1.18-2.35.59-.59v-.59l15.28-25.85,14.1-24.68v-.59h.59l14.69-26.44,7.64-12.34,7.05-12.93h.59l14.69-26.44,14.69-25.27,15.28-26.44c7.05-11.16,18.8-17.63,31.14-17.63s25.27,7.05,31.73,17.63v1.18ZM5335.69,6334.17l-.59,1.17-14.69,25.27h-.59v.59l-14.69,25.86c-6.46,10.58-18.8,17.63-31.14,17.63h-59.94c-12.93,0-24.68-6.46-31.14-17.63l-1.76-2.35v-.59c-2.35-4.7-3.53-10.58-3.53-15.87,0-6.46,1.76-12.34,4.7-17.63l.59-1.18c6.46-11.17,18.22-17.63,31.14-17.63h29.97c5.29,0,10.58-2.94,12.93-7.64l14.1-24.09,1.18-2.35c7.05-11.16,18.8-17.63,31.15-17.63s24.68,6.46,31.14,17.63l1.76,2.35c2.35,5.29,3.53,10.58,3.53,16.45s-1.18,11.75-4.11,17.04v.59ZM5245.19,6179.62l-14.1,25.27h-.59v.59l-29.38,51.12-.59.59-14.69,25.27v.59l-13.51,22.92-1.18,2.35c0,.59-.59.59-.59.59v.59l-29.38,50.54v.59h-.59c-1.17,2.35-1.76,5.29-1.76,7.64s.59,5.29,1.76,7.64h.59l1.76,2.94,5.29,9.99,22.33,38.78h.59v.59l29.38,51.12h.59v.59l14.69,25.86c2.94,5.29,4.7,11.17,4.7,17.63s-1.76,12.34-4.7,17.63l-.59,1.17c-6.46,11.17-18.22,17.63-31.15,17.63s-24.68-6.46-31.14-17.63l-1.76-2.35-13.52-24.09-14.69-25.27-15.28-26.44c-2.94-4.7-7.64-7.64-12.93-7.64-5.88,0-10.58,2.94-13.51,7.05v1.18l-15.28,25.86-14.69,24.68v1.17l-13.52,23.5-1.76,2.35c-6.46,11.17-18.22,17.63-31.14,17.63s-24.68-6.46-31.15-17.63l-1.76-2.35c-2.35-5.29-3.53-10.58-3.53-16.45s1.76-12.34,4.7-17.63l.59-1.17,14.1-24.68v-.59h.59l15.28-26.44,14.1-24.68v-.59h.59l14.69-26.44h.59l7.05-12.34,5.29-9.99,1.76-2.94h.59v-.59l14.69-25.86,29.97-51.71,7.05-12.34,7.64-12.93,15.28-26.44,14.69-25.27v-.59l15.28-25.85,14.69-25.27v-.59l13.52-23.51,1.76-2.94c6.46-10.58,18.22-17.04,31.14-17.04s24.68,6.46,31.15,17.63l.59.59c2.94,5.88,4.7,11.75,4.7,18.22,0,5.88-1.76,12.34-4.7,17.63l-.59.59ZM4914.93,6285.98l-11.75,21.16-12.34,20.57c0,.59-.59,1.17-.59,1.76h-.59l-11.75,20.57-11.75,21.15-.59.59-12.34,21.16-11.75,21.15-1.18,1.18-11.75,21.15-12.34,21.15-.59.59-12.34,21.15-11.75,20.57v.59c-.59,0-.59.59-1.18,1.18l-11.75,21.15-12.34,20.57-.59,1.17c-7.64,12.34-21.15,21.15-37.02,21.15s-29.38-8.23-37.02-20.57l-.59-1.76c-3.52-5.88-5.29-13.52-5.29-20.57,0-7.64,1.76-15.28,5.29-21.15l.59-1.18v-.59l12.34-20.57,12.34-21.15v-.59c3.52-6.46,5.88-13.51,5.88-21.15s-2.35-14.69-5.88-21.15l-.59-1.18c-7.05-12.34-21.16-21.15-37.02-21.15h-99.31c-15.87,0-29.38,8.81-37.02,21.15,0,0-.59.59-.59,1.18l-12.34,21.15-11.75,20.57-1.17,1.76-11.75,20.57-12.34,20.57v.59s-.59.59-.59,1.18l-12.34,21.15-11.75,20.57-1.18,1.76c-7.05,12.34-21.15,20.57-36.43,20.57s-29.38-8.23-37.02-20.57l-1.18-1.76c-2.94-5.88-5.29-13.52-5.29-20.57,0-7.64,2.35-15.28,5.29-21.15l1.18-1.18v-.59l11.75-20.57,12.34-20.57c0-.59.59-1.18.59-1.76l12.34-20.57,11.75-21.15,1.17-1.18,11.75-21.15,11.75-20.57h.59c0-.59,0-1.18.59-1.18l24.09-42.31.59-1.17,12.34-20.57,11.75-21.16,1.17-1.17,11.75-21.16,12.34-20.57.59-1.76,11.75-20.57,12.34-21.15.59-1.18,12.34-21.15,11.75-20.57,1.17-1.76c7.64-12.34,21.16-20.57,37.02-20.57h199.21c15.28,0,29.38,8.81,37.02,21.15l.59,1.18,23.5,41.13.59.59c0,.59.59.59.59,1.18l24.68,42.31v.59c3.53,6.46,5.88,13.52,5.88,21.15s-2.35,14.69-5.88,21.16l-.59,1.17ZM4816.21,6242.5l-.59-.59c-7.64-12.93-21.16-21.16-37.02-21.16h-99.9c-15.28,0-29.38,8.23-36.43,20.57h-.59v.59s0,.59-.59.59v.59c-3.53,5.88-5.29,12.93-5.29,20.57s1.76,14.69,5.29,21.16c.59.59.59,1.17,1.17,1.17,7.05,12.34,21.15,21.16,36.43,21.16h99.9c15.87,0,29.38-8.82,37.02-21.16l.59-1.17c3.53-6.46,5.29-13.52,5.29-21.16s-1.76-14.69-5.29-21.15ZM3923.58,6231.33c-7.05,11.17-18.8,18.22-31.73,18.22s-24.68-6.46-31.15-17.63l-.59-1.17c-2.94-5.29-4.7-11.75-4.7-17.63,0-6.46,1.76-12.34,4.7-17.63l.59-1.17c6.46-11.17,18.22-17.63,31.15-17.63s24.68,6.46,31.73,17.63v.59c2.94,5.88,4.7,11.75,4.7,18.22,0,5.88-1.76,12.34-4.7,17.63v.59ZM3863.64,6298.91c3.53,5.29,4.7,11.17,4.7,17.63s-1.18,12.34-4.11,17.63h-.59l-7.64,13.52-7.05,12.34v.59h-.59l-21.74,38.78-5.88,9.99-1.76,2.94-.59.59-29.38,51.12v.59l-29.38,51.12h-.59v.59l-15.28,25.85c-6.46,11.17-18.22,17.63-31.15,17.63s-24.68-6.46-31.14-17.63l-.59-1.17c-2.94-5.29-4.7-11.17-4.7-17.63,0-5.88,1.76-12.34,4.7-17.63l.59-1.17,7.05-12.34,5.88-9.99,1.18-2.35.59-.59v-.59l15.28-25.85,14.1-24.68v-.59h.59l14.69-26.44,7.64-12.34,7.05-12.93h.59l14.69-26.44,14.69-25.27,15.28-26.44c7.05-11.16,18.8-17.63,31.14-17.63s25.27,7.05,31.73,17.63v1.18ZM3588.62,6387.06c-6.46,10.58-18.22,17.63-31.14,17.63h-89.91c-5.29,0-9.99,2.94-12.93,7.64h-.59l-21.74,38.78-5.88,9.99-1.76,2.94-.59.59-29.38,51.12v.59l-15.28,25.85c-6.46,11.17-18.22,17.63-31.15,17.63s-24.68-6.46-31.14-17.63l-1.76-2.35c-2.35-5.29-3.53-10.58-3.53-16.45s1.76-12.34,4.7-17.63l.59-1.17,14.1-24.68v-.59h.59l14.69-26.44,7.64-12.34,7.05-12.93h.59l14.69-26.44,14.69-25.27,15.28-26.44,14.69-25.27,14.1-24.09,1.18-2.35c7.05-11.16,18.22-17.63,31.14-17.63s24.68,6.46,31.73,17.63v.59l14.69,25.27v.59h.59c2.35,4.7,7.64,7.64,12.93,7.64h29.97c12.93,0,24.68,7.05,31.14,17.63l.59,1.18c2.94,5.29,4.7,11.17,4.7,17.63s-1.76,12.34-4.7,17.63l-.59,1.18ZM3224.87,6231.33c-7.05,11.17-18.8,18.22-31.73,18.22s-24.68-6.46-31.14-17.63l-.59-1.17c-2.94-5.29-4.7-11.75-4.7-17.63,0-6.46,1.76-12.34,4.7-17.63l.59-1.17c6.46-11.17,18.22-17.63,31.14-17.63s24.68,6.46,31.73,17.63v.59c2.94,5.88,4.7,11.75,4.7,18.22,0,5.88-1.76,12.34-4.7,17.63v.59ZM3164.94,6298.91c3.52,5.29,4.7,11.17,4.7,17.63s-1.18,12.34-4.11,17.63h-.59l-7.64,13.52-7.05,12.34v.59h-.59l-21.74,38.78-5.88,9.99-1.76,2.94-.59.59-29.38,51.12v.59l-29.38,51.12h-.59v.59l-15.28,25.85c-6.46,11.17-18.22,17.63-31.15,17.63s-24.68-6.46-31.14-17.63l-.59-1.17c-2.94-5.29-4.7-11.17-4.7-17.63,0-5.88,1.76-12.34,4.7-17.63l.59-1.17,7.05-12.34,5.88-9.99,1.18-2.35.59-.59v-.59l15.28-25.85,14.1-24.68v-.59h.59l14.69-26.44,7.64-12.34,7.05-12.93h.59l14.69-26.44,14.69-25.27,15.28-26.44c7.05-11.16,18.8-17.63,31.15-17.63s25.27,7.05,31.73,17.63v1.18ZM2889.92,6386.47l-14.69,25.27v1.18h-.59l-21.74,38.19-5.88,9.99-1.18,2.94h-.59v.59l-29.38,51.12h-.59v.59l-14.69,25.85c-7.05,11.17-18.8,17.63-31.73,17.63s-24.09-6.46-31.14-17.63l-1.18-2.35c-2.94-5.29-4.11-10.58-4.11-16.45s1.76-12.34,4.7-17.63l.59-1.17,14.69-25.27,15.28-26.44,7.05-12.34,22.92-39.37,14.69-25.86c1.17-1.76,1.76-4.7,1.76-7.05,0-2.94-.59-5.29-1.76-7.64-2.94-4.7-8.23-7.64-13.52-7.64h-59.94c-5.29,0-9.99,2.94-12.93,7.05v.59l-29.97,51.12v.59l-22.33,38.78-5.88,9.99-1.76,2.94v.59l-15.28,25.86-14.1,24.68v.59h-.59v.59l-13.52,23.5-1.76,2.35c-6.46,11.17-18.22,17.63-31.14,17.63s-24.09-6.46-31.15-17.63l-1.18-2.35c-2.94-5.29-4.11-10.58-4.11-16.45s1.76-12.34,4.7-17.63l.59-1.17,14.69-24.68v-.59l15.28-26.44,14.1-24.68.59-.59,15.28-26.44,7.05-12.34,5.88-9.99,1.18-2.94h.59v-.59l15.28-25.86,29.38-51.71,7.64-12.34,7.05-12.93,15.28-26.44,14.69-25.27v-.59l15.28-25.85,14.69-25.27v-.59l13.52-23.51,1.76-2.94c6.46-10.58,18.22-17.04,31.14-17.04s24.68,6.46,31.15,17.63l.59.59c2.94,5.88,4.7,11.75,4.7,18.22,0,5.88-1.76,12.34-4.7,17.63l-14.69,25.86-.59.59-29.38,51.12-.59.59c-1.18,2.35-1.76,4.7-1.76,7.64,0,2.35.59,4.7,1.76,7.05v.59h.59c2.94,4.7,7.64,7.64,12.93,7.64h29.97c12.93,0,24.68,6.46,31.14,17.63l.59.59,14.69,25.27v1.18l14.69,25.27.59.59c2.94,5.29,4.7,11.17,4.7,17.63s-1.76,12.34-4.7,17.63l-.59.59ZM2465.64,6387.06c-6.46,10.58-18.22,17.63-31.15,17.63s-24.68-6.46-31.14-17.63l-1.76-2.35-13.52-24.09c-2.94-4.7-8.23-7.64-13.52-7.64h-59.94c-5.29,0-9.99,2.94-12.93,7.05v.59c-1.76,2.35-2.35,5.29-2.35,7.64s.59,5.29,2.35,7.64v.59c2.94,4.11,7.64,7.05,12.93,7.05h29.97c12.93,0,25.27,7.05,31.73,18.22l14.69,25.85h.59v.59l14.69,25.86c2.94,5.29,4.7,11.17,4.7,17.63s-1.76,12.34-4.7,17.63v.59l-14.69,25.86h-.59v.59l-14.69,25.85c-7.05,11.17-18.8,17.63-31.73,17.63h-119.29c-12.93,0-24.68-6.46-31.14-17.63l-1.76-2.35-13.51-23.5v-.59l-.59-.59-14.1-24.68-.59-1.17c-2.94-5.29-4.7-11.17-4.7-17.63,0-5.29,1.18-11.17,3.53-15.87v-.59l1.76-2.35c6.46-11.17,18.22-17.63,31.14-17.63s24.68,6.46,31.14,17.63l1.76,2.35,13.52,23.5v1.17c2.94,4.11,8.23,7.05,13.52,7.05h59.35c5.88,0,10.58-2.94,13.52-7.64,1.18-2.35,1.76-4.7,1.76-7.64,0-2.35-.59-5.29-1.76-7.05v-.59c-2.94-4.7-7.64-7.64-13.52-7.64h-29.38c-12.93,0-24.68-6.46-31.15-17.63h-.59l-14.69-26.44h-.59l-7.05-12.93-8.82-14.69v-.59c-2.35-4.7-3.53-10.58-3.53-15.87,0-6.46,1.18-12.34,4.11-17.63l1.18-1.18,14.1-25.27h.59l13.52-24.09,1.76-2.35c6.46-11.16,18.22-17.63,31.15-17.63h119.29c12.93,0,24.68,6.46,31.14,17.63l.59.59,14.69,25.27v1.18l14.69,25.27.59.59c2.94,5.29,4.7,11.17,4.7,17.63s-1.76,12.34-4.7,17.63l-.59,1.18ZM2071.92,6438.18l-13.51,22.92-1.18,2.94h-.59v.59l-29.38,51.12h-.59v.59l-14.69,25.85c-7.05,11.17-18.8,17.63-31.73,17.63h-119.29c-12.93,0-24.68-6.46-31.14-17.63l-1.76-2.35-13.52-23.5v-.59l-.59-.59-14.1-24.68-.59-1.17c-2.94-5.29-4.7-11.17-4.7-17.63,0-5.29,1.17-11.17,3.53-15.87v-.59l1.76-2.35,14.1-24.68.59-.59,15.28-26.44,7.05-12.34,5.88-9.99,1.18-2.94h.59v-.59l15.28-25.86,28.21-49.36,1.76-2.35c6.46-11.16,18.22-17.63,31.15-17.63h59.35c12.93,0,24.68,6.46,31.73,17.63v.59l14.69,25.27v.59h.59l29.38,51.12v.59h.59l1.18,2.94,13.51,23.5c2.94,5.29,4.7,11.17,4.7,17.63s-1.76,12.34-4.7,17.63v.59ZM1993.76,6412.32l-7.64-12.93-8.81-14.69-13.52-24.09c-2.94-4.7-7.64-7.64-13.51-7.64-5.29,0-9.99,2.94-12.93,7.05v.59l-29.97,51.12v.59l-22.33,38.78-5.88,9.99-1.76,2.94c-1.17,2.35-1.76,5.29-1.76,7.64,0,2.94.59,5.29,1.76,7.64v.59c2.94,4.11,8.23,7.05,13.52,7.05h59.35c5.88,0,10.58-2.94,13.51-7.64l15.28-26.44,7.05-12.34,7.64-12.93c1.17-2.35,1.76-4.7,1.76-7.64s-.59-5.29-1.76-7.64ZM1741.07,6285.98l-11.75,21.16-12.34,20.57c0,.59-.59,1.17-.59,1.76h-.59l-11.75,20.57-11.75,21.15-.59.59-12.34,21.16-11.75,21.15-1.17,1.18-11.75,21.15-12.34,21.15-.59.59-12.34,21.15-11.75,20.57v.59c-.59,0-.59.59-1.17,1.18l-11.75,21.15-12.34,20.57-.59,1.17c-7.64,12.34-21.15,21.15-37.02,21.15s-29.38-8.23-37.02-20.57l-.59-1.76c-3.53-5.88-5.29-13.52-5.29-20.57,0-7.64,1.76-15.28,5.29-21.15l.59-1.18v-.59l12.34-20.57,12.34-21.15v-.59c3.53-6.46,5.88-13.51,5.88-21.15s-2.35-14.69-5.88-21.15q0-.59-.59-1.18c-7.05-12.34-21.16-21.15-37.02-21.15h-99.31c-15.87,0-29.38,8.81-37.02,21.15,0,.59-.59.59-.59,1.18l-12.34,21.15-11.75,20.57-1.18,1.76-11.75,20.57-12.34,20.57v.59s-.59.59-.59,1.18l-12.34,21.15-11.75,20.57-1.18,1.76c-7.05,12.34-21.16,20.57-36.43,20.57s-29.38-8.23-37.02-20.57l-1.18-1.76c-2.94-5.88-5.29-13.52-5.29-20.57,0-7.64,2.35-15.28,5.29-21.15l1.18-1.18v-.59l11.75-20.57,12.34-20.57c0-.59.59-1.18.59-1.76l12.34-20.57,11.75-21.15,1.18-1.18,11.75-21.15,11.75-20.57h.59c0-.59,0-1.18.59-1.18l24.09-42.31.59-1.17,12.34-20.57,11.75-21.16,1.18-1.17,11.75-21.16,12.34-20.57.59-1.76,11.75-20.57,12.34-21.15.59-1.18,12.34-21.15,11.75-20.57,1.18-1.76c7.64-12.34,21.15-20.57,37.02-20.57s29.38,8.81,37.02,21.15l.59,1.18c3.53,5.88,5.29,12.93,5.29,20.57s-1.76,15.28-5.29,21.15l-.59,1.18-12.34,21.15-11.75,20.57h-.59c0,.59,0,1.18-.59,1.76-3.53,5.88-5.29,12.93-5.29,20.57s1.76,14.69,5.29,21.16l1.18,1.17c7.05,12.34,21.15,21.16,36.43,21.16h99.9c15.86,0,29.38-8.82,37.02-21.16,0-.59.59-.59.59-1.17l12.34-21.16,11.75-20.57.59-1.76h.59c7.05-12.34,21.16-20.57,36.43-20.57s29.97,8.23,37.61,21.16v.59c3.53,6.46,5.88,13.52,5.88,21.15s-2.35,14.69-5.88,21.16l-.59,1.17Z" />
        </svg>
        {siteConfig.title}
    </div>
</a>
    <div class="hidden md:flex">
        {links.map((l) => {
            return <a aria-label={l.name} href={l.external ? l.url : url(l.url)} target={l.external ? "_blank" : null}
                      class="btn-plain scale-animation rounded-lg h-11 font-bold px-5 active:scale-95"
            >
                <div class="flex items-center">
                    {l.name}
                    {l.external && <Icon size="14" name="fa6-solid:arrow-up-right-from-square" class="transition -translate-y-[1px] ml-1 text-black/[0.2] dark:text-white/[0.2]"></Icon>}
                </div>
            </a>;
        })}
    </div>
    <div class="flex">
        <!--<SearchPanel client:load>-->
        <Search client:load>
            <Icon slot="search-icon" name="material-symbols:search" size={"1.25rem"} class="absolute pointer-events-none ml-3 transition my-auto text-black/30 dark:text-white/30"></Icon>
            <!--<Icon slot="arrow-icon" name="material-symbols:chevron-right-rounded" size={"1.25rem"} class="transition my-auto text-[var(&#45;&#45;primary)]"></Icon>-->
            <Icon slot="arrow-icon" name="fa6-solid:chevron-right" size={"0.75rem"} class="transition translate-x-0.5 my-auto text-[var(--primary)]"></Icon>
            <Icon slot="search-switch" name="material-symbols:search" size={"1.25rem"}></Icon>
        </Search>
        {!siteConfig.themeColor.fixed && (
            <button aria-label="Display Settings" class="btn-plain scale-animation rounded-lg h-11 w-11 active:scale-90" id="display-settings-switch">
                <Icon name="material-symbols:palette-outline" size={"1.25rem"}></Icon>
            </button>
        )}
        <LightDarkSwitch client:load></LightDarkSwitch>
        <button aria-label="Menu" name="Nav Menu" class="btn-plain scale-animation rounded-lg w-11 h-11 active:scale-90 md:hidden" id="nav-menu-switch">
            <Icon name="material-symbols:menu-rounded" size={"1.25rem"}></Icon>
        </button>
    </div>
    <NavMenuPanel links={links}></NavMenuPanel>
    <DisplaySettings client:only="svelte">
        <Icon slot="restore-icon" name="fa6-solid:arrow-rotate-left" size={"0.875rem"} class=""></Icon>
    </DisplaySettings>
</div>

<style lang="stylus">
</style>

<script>

function switchTheme() {
    if (localStorage.theme === 'dark') {
        document.documentElement.classList.remove('dark');
        localStorage.theme = 'light';
    } else {
        document.documentElement.classList.add('dark');
        localStorage.theme = 'dark';
    }
}

function loadButtonScript() {
    let switchBtn = document.getElementById("scheme-switch");
    switchBtn.addEventListener("click", function () {
        switchTheme()
    });

    let settingBtn = document.getElementById("display-settings-switch");
    if (settingBtn) {
        settingBtn.addEventListener("click", function () {
            let settingPanel = document.getElementById("display-setting");
            settingPanel.classList.toggle("float-panel-closed");
        });
    }

    let menuBtn = document.getElementById("nav-menu-switch");
    menuBtn.addEventListener("click", function () {
        let menuPanel = document.getElementById("nav-menu-panel");
        menuPanel.classList.toggle("float-panel-closed");
    });
}

loadButtonScript();

document.addEventListener('astro:after-swap', () => {
    loadButtonScript();
}, { once: false });
</script>

{import.meta.env.PROD && <script is:inline define:vars={{scriptUrl: url('/pagefind/pagefind.js')}}>
async function loadPagefind() {
    const pagefind = await import(scriptUrl)
    await pagefind.options({
        'excerptLength': 20
    })
    pagefind.init()
    window.pagefind = pagefind
    pagefind.search('')     // speed up the first search
}
loadPagefind()
</script>}